.finance-table {
  background-color: #000;
  .table-title {
    position: relative;
  }
  .table-down-btn {
    position: absolute;
    top: 0;
    right: 0;
    &.ant-btn-loading {
      position: absolute;
    }
  }
  .table-card {
    margin-bottom: 10px;
  }
  .table-tips {
    float: left;
  }
  .table-text-area {
    margin-top: 10px;
    .text-title {
      height: 32px;
      line-height: 32px;
      font-weight: bold;
    }
    .text {
      // height: 32px;
      line-height: 32px;
      .bold {
        font-weight: bold;
      }
    }
  }
  .btn-area {
    display: flex;
    margin: 8px 0;
    justify-content: flex-end;
  }
}